
.help-form{
    height: 300px;
    width: auto;
    background-color: greenyellow;
    
    padding: 10px;
  }
  
  
  .contact-form {
      display: flex;
      flex-direction: column;
    }
    
    .form-field {
      margin-bottom: 1rem;
    }
    
    label {
      display: block;
    }
    
    input{
      width: 100%;
      padding: 0.5rem;
    }
    textarea{
      height: 100px;
      width: auto;
    }
    
    @media (min-width: 768px) {
      .contact-form {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        justify-content: center;
      }
      textarea{
        height: 200px;
        width:200px;
      }
    
      .form-field {
        margin-right: 1rem;
        flex: 1;
      }
    
      label {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0.5rem;
      }
    
      input{
        width: 100%;
      }
     
      .help-form{
        height: 400px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: greenyellow;
       
        padding: 10px;
      }
  
    }
    
    @media (min-width: 1024px) {
      .help-form{
        height: 400px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: greenyellow;
  
        padding: 10px;
      }
      .form-field {
        flex-direction: column; 
         align-items: center;
         justify-content: center;
      }
      textarea{
        height: 200px;
        width: 800px;
      }
      .help{
        display: flex;
      }
    
      label {
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    
      input[name="name"],
      input[name="email"] {
        width: 50%;
      }
    }
    